@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

html {
  font-family: "Josefin Sans", ÔÇÿTrebuchet MSÔÇÖ, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6; }

h1, h2, h3, h4 {
  font-family: Cardo, ÔÇÿPalatino LinotypeÔÇÖ, ÔÇÿBook AntiquaÔÇÖ, Palatino, serif; }

ul {
  list-style: none; }

.clearfix:after {
  display: table;
  clear: both;
  content: ""; }

.bg-header {
  background-color: #fff;
  background-color: #C7F7FF;
  color: #222;
  border-bottom: 1rem solid #89C0C9;
  border-top: 1rem solid #3a5E63;
  position: relative;
  /***********************************************
                  NAVIGATION
  ***********************************************/
  /***********************************************
                  CONTENT
  ***********************************************/
  /***********************************************
                  FOOTER
  ***********************************************/
  /***********************************************
                  MEDIA QUERIES
  ***********************************************/ }
  .bg-header:before, .bg-header:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: #3a5E63; }
    .bg-header:before:before, .bg-header:after:before {
      left: 0; }
    .bg-header:before:after, .bg-header:after:after {
      right: 0; }
  .bg-header .bg-focal {
    background-color: #C9A689;
    color: #7C593C; }
  .bg-header .bg-content1 {
    background-color: #fff;
    color: #222; }
  .bg-header .bg-content2 {
    background-color: #C7F7FF;
    color: #3a5E63; }
  .bg-header .bg-footer {
    background-color: #fff;
    color: #d4d4d4; }
  .bg-header header {
    width: 400px;
    /* default */
    margin: 0 auto;
    position: relative; }
    .bg-header header h1 {
      width: 100%;
      padding: 0 2rem; }
    .bg-header header nav {
      width: 100%; }
  .bg-header nav > ul li {
    width: 100%;
    float: none; }
  .bg-header section.focal {
    width: 400px;
    /* default */
    margin: 0 auto; }
  .bg-header section.content1 {
    padding: 2rem 0; }
  .bg-header section.content2 {
    padding: 2rem 0; }
  .bg-header .row {
    clear: both; }
  .bg-header .col-2 {
    float: left;
    padding-bottom: 2rem;
    border-left: 1px solid #3a5E63;
    margin-bottom: 2rem;
    width: 22.5%;
    margin-left: 5%; }
    .bg-header .col-2:first-child {
      margin-left: 0; }
  .bg-header footer .col-2:first-child {
    border-left: 0; }
  .bg-header footer {
    padding: 2rem 0; }
  .bg-header header nav {
    padding: 2rem 0;
    clear: both; }
  .bg-header header nav > ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #222;
    font-size: 1.414rem;
    letter-spacing: 0.25rem;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    padding: 1.0rem 2rem;
    line-height: 1;
    background-color: #fff; }
    .bg-header header nav > ul > li > a:hover {
      font-weight: 700;
      color: #7C593C; }
  .bg-header header h1 {
    color: #7C593C;
    letter-spacing: 0.1rem; }
  .bg-header header h1 i.fa-lg {
    display: block;
    width: 25%;
    float: left;
    font-size: 7rem;
    line-height: 12.7936rem;
    color: #C9A689; }
  .bg-header header h1 i.fa-lg ~ span {
    float: right;
    width: 75%;
    font-size: 3.998rem;
    /**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
    padding-left: 1rem;
    text-align: right; }
  .bg-header .focal h2 {
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem; }
  .bg-header .focal .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem; }
  .bg-header .content1 h3 {
    font-size: 1.999rem;
    padding: 0.2rem 2rem 2rem; }
  .bg-header .content1 h3 i {
    vertical-align: middle;
    padding-right: 2rem; }
  .bg-header .content1 p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem; }
  .bg-header .content2 h3 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem; }
  .bg-header .content2 h4 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem; }
  .bg-header .content2 p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem; }
  .bg-header .content2 li {
    padding: 0.5rem 2rem;
    font-size: 1.414rem; }
  .bg-header footer h4 {
    font-size: 1.414rem;
    padding: 0.5rem 2rem;
    color: #7C593C; }
  .bg-header footer p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: #222; }
  .bg-header footer .fa-circle {
    color: #222; }
  .bg-header footer h4[lang=de] {
    display: block; }
  .bg-header footer h4[lang=en],
  .bg-header footer h4[lang=ar],
  .bg-header footer h4[lang=ru] {
    display: none; }
  @media all and (min-width: 701px) and (max-width: 900px) {
    .bg-header header {
      width: 700px;
      margin: 0 auto;
      min-height: 8rem; }
    .bg-header header h1 {
      width: 100%;
      color: #7C593C; }
    .bg-header header:before,
    .bg-header header:after {
      width: 230px; }
    .bg-header header h1 i.fa-lg {
      display: inline;
      color: #7C593C;
      vertical-align: baseline;
      float: none;
      font-size: 4rem;
      line-height: 6.3968rem; }
    .bg-header header h1 i.fa-lg ~ span {
      float: none;
      letter-spacing: 0.25rem;
      font-size: 3.998rem;
      /**
      1 lines of 3.998 * 1.6 = 6.3968
      **/
      text-align: left; }
    .bg-header header nav {
      position: static;
      clear: both;
      width: 100%;
      padding: 0; }
    .bg-header header nav > ul > li {
      width: 20%;
      float: left; }
    .bg-header header nav > ul > li > a {
      font-size: 1rem;
      line-height: 2rem;
      min-height: 6rem;
      border: none;
      border-left: 1px solid #d4d4d4;
      padding: 1.0rem;
      background-color: #fff; }
    .bg-header header nav > ul > li > a:last-child {
      border-right: 1px solid #d4d4d4; }
    .bg-header section.focal,
    .bg-header section.content1,
    .bg-header section.content2,
    .bg-header footer {
      width: 700px;
      margin: 0 auto; }
    .bg-header .col-4 {
      width: 8.75%;
      margin-left: 5%;
      float: left; }
      .bg-header .col-4:first-child {
        margin-left: 0; }
    .bg-header section.content2 h4 {
      font-size: 1.414rem; }
    .bg-header section.content2 li {
      font-size: 1.414rem; }
    .bg-header footer .fa-circle {
      color: #89C0C9; }
    .bg-header footer .col-2:last-child {
      unicode-bidi: bidi-override;
      direction: rtl; }
    .bg-header footer h4[lang=ar] {
      display: block; }
    .bg-header footer h4[lang=de],
    .bg-header footer h4[lang=en],
    .bg-header footer h4[lang=ru] {
      display: none; } }
  @media all and (min-width: 901px) and (max-width: 1400px) {
    .bg-header header {
      width: 900px;
      margin: 0 auto; }
    .bg-header header:before,
    .bg-header header:after {
      width: 300px; }
    .bg-header header h1 {
      width: 100%;
      color: #3a5E63; }
    .bg-header header h1 i.fa-lg {
      display: inline;
      color: #3a5E63;
      vertical-align: baseline;
      float: none;
      font-size: 4rem;
      line-height: 6.3968rem; }
    .bg-header header h1 i.fa-lg ~ span {
      float: none;
      letter-spacing: 0.25rem;
      font-size: 3.998rem;
      /**
      1 lines of 3.998 * 1.6 = 6.3968
      **/
      text-align: left; }
    .bg-header header nav {
      position: static;
      clear: both;
      width: 100%;
      padding: 0; }
    .bg-header header nav > ul > li {
      width: 20%;
      float: left;
      background-color: #fff; }
    .bg-header header nav > ul > li > a {
      font-size: 1rem;
      line-height: 2rem;
      min-height: 2rem;
      border: none;
      border-left: 1px solid #d4d4d4;
      padding: 0 1.0rem;
      margin: 1.0rem 0;
      background-color: #fff; }
    .bg-header header nav > ul > li:first-child a {
      border-left: none; }
    .bg-header section.focal,
    .bg-header section.content1,
    .bg-header section.content2,
    .bg-header footer {
      width: 900px;
      margin: 0 auto; }
    .bg-header section.focal h2 {
      width: 600px;
      margin: 0 auto; }
    .bg-header section.focal p.author {
      width: 600px;
      margin: 0 auto; }
    .bg-header .col-3 {
      float: left;
      width: 6.66667%;
      margin-left: 5%; }
      .bg-header .col-3:first-child {
        margin-left: 0; }
    .bg-header .col-4 {
      float: left;
      width: 2.5%;
      margin-left: 4%; }
      .bg-header .col-4:first-child {
        margin-left: 0; }
    .bg-header section.content1 h3 {
      font-size: 1.999rem;
      font-weight: 100; }
    .bg-header section.content1 h3 .fa-2x {
      font-size: 1.999rem;
      padding-right: 1rem; }
    .bg-header section.content2 h4 {
      font-size: 1.414rem; }
    .bg-header section.content2 li {
      font-size: 1.414rem; }
    .bg-header section.content2 p {
      font-size: 1rem;
      font-weight: 400; }
    .bg-header footer .fa-circle {
      color: #C9A689; }
    .bg-header footer h4[lang=ru] {
      display: block; }
    .bg-header footer h4[lang=de],
    .bg-header footer h4[lang=ar],
    .bg-header footer h4[lang=en] {
      display: none; } }
  @media all and (min-width: 1401) {
    .bg-header header {
      width: 1400px;
      margin: 0 auto; }
    .bg-header header:before,
    .bg-header header:after {
      width: 450px; }
    .bg-header header h1 {
      width: 100%;
      color: #7C593C; }
    .bg-header header h1 i.fa-lg {
      display: inline;
      color: #7C593C;
      vertical-align: baseline;
      float: none;
      font-size: 4rem;
      line-height: 6.3968rem; }
    .bg-header header h1 i.fa-lg ~ span {
      float: none;
      letter-spacing: 0.25rem;
      font-size: 3.998rem;
      /**
      1 lines of 3.998 * 1.6 = 6.3968
      **/
      text-align: left; }
    .bg-header header nav {
      position: static;
      clear: both;
      width: 100%;
      padding: 0; }
    .bg-header header nav > ul > li {
      width: 20%;
      float: left;
      background-color: #fff; }
    .bg-header header nav > ul > li > a {
      font-size: 1.414rem;
      line-height: 2rem;
      min-height: 2rem;
      border: none;
      border-left: 1px solid #d4d4d4;
      padding: 0 1.0rem;
      margin: 1.0rem 0;
      background-color: #fff; }
    .bg-header header nav > ul > li:first-child a {
      border-left: none; }
    .bg-header section.focal,
    .bg-header section.content1,
    .bg-header section.content2,
    .bg-header footer {
      width: 1400px;
      margin: 0 auto; }
    .bg-header section.focal h2 {
      font-size: 3.998rem;
      width: 600px;
      margin: 0 auto; }
    .bg-header section.focal p.author {
      width: 600px;
      margin: 0 auto; }
    .bg-header .col-3 {
      float: left;
      width: 6.66667%;
      margin-left: 5%; }
      .bg-header .col-3:first-child {
        margin-left: 0; }
    .bg-header .col-4 {
      float: left;
      width: 2.5%;
      margin-left: 4%; }
      .bg-header .col-4:first-child {
        margin-left: 0; }
    .bg-header section.content1 h3 {
      font-size: 2.827rem;
      font-weight: 100; }
    .bg-header section.content1 h3 .fa-2x {
      font-size: 2.827rem;
      padding-right: 1rem;
      vertical-align: middle; }
    .bg-header section.content2 h4 {
      font-size: 1.999rem; }
    .bg-header section.content2 li {
      font-size: 1.999rem; }
    .bg-header section.content2 p {
      font-size: 1.414rem;
      font-weight: 400; }
    .bg-header footer p {
      font-size: 1.414rem;
      letter-spacing: 0.2rem; }
    .bg-header footer p:last-child {
      color: #d4d4d4; }
    .bg-header footer .fa-circle {
      color: #89C0C9; }
    .bg-header footer h4[lang=en] {
      display: block; }
    .bg-header footer h4[lang=de],
    .bg-header footer h4[lang=ar],
    .bg-header footer h4[lang=ru] {
      display: none; } }

/*# sourceMappingURL=main.css.map */
