$c_lightBlue: #C7F7FF;
$c_medBlue: #89C0C9;
$c_darkBlue: #3a5E63;
$c_lightBrown: #C9A689;
$c_darkBrown: #7C593C;
$c_lightGrey: #d4d4d4;
$c_darkGrey: #222;
$c_white: #fff;

$small: 701px;
$med: 900px;
$med1:901px;
$large:1400px;
$large1:1401;



$font-stack-header: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

$font-stack-html: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;




